
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   transition: none; transform: none;
    background-color: #5f0888;
    border-top: solid 4px #23a3d6;
    color: #f0f8ffac;
}
.char{
    height: 50px; width: auto;
    padding: 0px 10px 0px 10px;
    border-radius: 40%;
}
.foot{
    margin-top: 20px auto 10px auto;
    border: 0px solid red;
    padding: 20px;
    display: grid;
    place-content: center;
}
.foot2{
    border: 0px solid aqua;
    padding: 2vw;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    margin-bottom: 10px;
}

@media only screen and (max-width:670px){
.foot2{
    flex-direction: column;
}
}