@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --magic-card-height: 45vh;
    --magic-card-width: calc(var(--magic-card-height) / 1.5);
  }
  
  
  #meet-team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 40px;
    margin-bottom: 10vw;
  }

@media only screen and (max-width:970px) {
 #meet-team{
  flex-direction: column;
 } 
}
  
  .magic-card{
    background: #120929;
    width: var(--magic-card-width);
    height: var(--magic-card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
   
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: rgba(79, 31, 85, 0);
    cursor: pointer;
    font-family: cursive;
    gap: 8px;

    
  }

  .tiltcard{
    background: #120929;
    width: var(--magic-card-width);
    height: var(--magic-card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
   
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: rgba(79, 31, 85, 0);
    cursor: pointer;
    font-family: cursive;
    gap: 8px;
  }
  
  .magic-card:hover {
    color: rgb(151, 15, 215);
    transition: color 1s;
  }
  .magic-card:hover:before, .magic-card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .magic-card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #7012dc, #881398 43%, #d537ad);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .magic-card::after {
    position: absolute;
    content: "";
    top: calc(var(--magic-card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--magic-card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5805c5, #6c2374 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  #party{
    padding: 20px 40px;
    background: #050a1c;
    color: white;
    border-radius: 6px;
    border: 2px solid purple;
    text-decoration: none;
    cursor: pointer;
  }
  .tiltcard img{
    border-radius: 6px;
  }
#party:hover{
  color:white;
  background: linear-gradient(to right,#50aac0,#8c5ec2);
}
