.sec{
    padding: 3vw 4vw;
    margin: 2.5vw auto;
    display: grid;
    place-content: center;
    text-align: center;
    border: 0px solid aqua;
    height: 50vh;
}

.hidden{
    opacity: 0;
    filter: blur (75px);
    transform: translateY(80%) ;
    transition: all 1s;
    transition-timing-function: ease-out;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}