.container{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

.sidenav {
   
    border: solid 3px ;
    margin-top: 150px;
    position: fixed;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 0 20px rgb(186, 42, 225);
  }
 
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    display: block;
  }
    
   
  .sidenav img:hover {
    box-shadow: 0 0 10px rgb(186, 42, 225);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }