@import url('https://fonts.cdnfonts.com/css/mona-sans');

body{
    font-family: 'Mona Sans', sans-serif;
    margin: 0%;
    background-color: #0d0c1c;
    color:#edf3fc;
    background-image: url('./images/back0.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 200px;
}

#navbar {
    padding: 0.5vw 2vw;
    background-color: aqua;
    color: black;
    display: flex;
    flex-direction: row; justify-content: flex-end;
}

.navitem{
    padding: 1vw 2vw;
    margin: 0.5vw 3vw;
    border: 0px solid red;
}

.head1{
    font-size: 2em;
}
.para{
    color: #8e9092;
}