@import url('https://fonts.cdnfonts.com/css/mona-sans');

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background: #1d0a35;
}
::-webkit-scrollbar-track:hover{
    background: #164355;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#8e2bff,#17bce6);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#17bce6,#8e2bff);
}

@media only screen and (max-width:670px){
::-webkit-scrollbar{
    width: 7px;
}  
}

body{
    font-family: 'Mona Sans', sans-serif;
    margin: 0%;
    background-color: #0d0c1c;
    color:#edf3fc;
    background-image: url('./images/backgci.jpg') ;
    background-repeat: no-repeat;
}
.first{
    background-position: center;
}
.second{
    height: 50vh;
}
#navbar {
    padding: 0.5vw 2vw;
    background-color: aqua;
    color: black;
    display: flex;
    flex-direction: row; justify-content: flex-end;
}

.navitem{
    padding: 1vw 2vw;
    margin: 0.5vw 3vw;
    border: 0px solid red;
}

.head1{
    font-size: 2em;
}
.para{
    color: #8e9092;
}